extends chat-layout

block content
    h1= title
    #wrapper
        #menu
          p.welcome
            | Welcome
        #chatbox
        form(action='')
            input#m(name='m', type='text', size='63')
            input#submitmsg(name='submitmsg', type='submit', value='Send')