extends chat-layout

block content
    div(style='width:100%')
        div(style='background-color:white; width:100%')
            center
                h3
                    p#start press TAB to begin
                p(style='text-align:right; font-size: large;')
                    |Player 1 score
                    span#score 00000
                    p(style='text-align:right; font-size: large;')
                        | Player 2 score
                        span#score2 00000

        div(style= 'height:500px;width:375px;float:left; margin-left: 150px; ')

            div(style= 'height:250px;width:375px; border: 2px solid black;box-shadow: 8px 8px 8px #999; border: 2px solid #333; ')
                    div
                        form#name-form
                            .form-group
                                br
                                br
                                br
                                br
                                br
                                label(for='name') Enter name for chat:
                                br
                                br
                                input#name.form-control(type='text', placeholder='Name')
                                button.btn.btn-primary(type='submit') Enter chat
                    #chatbox
                        p(style='text-align: center; font-size: large;') Welcome to chat!
                        br
                    div
                    form#formid(action='')
                            input#m(name='m', type='text', size='52')
                            input#submitmsg(name='submitmsg', type='submit', value='Send')
            div(style= ' background-image: url(/stylesheets/images/nextBlockBackground.jpg); height:250px;width:375px; border: 2px solid black; box-shadow: 8px 8px 8px #999; border: 2px solid #333;')
                h1 next block
                    p
                        canvas#upcoming

        div
                    canvas#canvas1.canvas

                        p#start1
                            a(href='javascript:play();')
                        p
                            span#rogitws 0
        div(style='background-color:white;clear:both')
