doctype html

html.no-js(lang='en')
    head
        meta(charset='UTF-8')
        // <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        title create game
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='Login and Registration Form with HTML5 and CSS3')
        meta(name='keywords', content='html5, css3, form, switch, animation, :target, pseudo-class')
        meta(name='author', content='Codrops')
        link(rel='shortcut icon', href='../favicon.ico')
        //link(rel='stylesheet', type='text/css', href='css/demo.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/style2.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/animate-custom.css')
        link(rel='stylesheet', href='/stylesheets/demo.css')
    body
        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='/js/main.js')
        form(method='GET' action='https://csc667-team1-tetris.herokuapp.com/logout')
                p.login.button
                    input(type='submit', value='Logout')
        .container
            header
                h1 Create Games
            section
                #container_demo
                    // hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4


                    #wrapper
                        #createGame.animate.form
                            form(method='POST' action='/dbAPI/games')
                                h1 create game
                                p.form-group
                                    label(for='gameName', data-icon='p')  Your game name
                                    input#gameName(name='name', required='required', type='text', placeholder='Enter your game name')
                                p.login.button
                                    input(type='submit', value='Create')
                                p.change_link
                                    | Want to join a game ?
                                    a.to_register(href='lobbyRoom') Join

