doctype html
html
    head
        title gameplay
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div(style='width:100%')
            div(style='background-color:white; width:100%')
                h1 Tetris
            div(style='background-color:gray; height:500px;width:350px;float:left; margin-left: 100px;')
                div
                    h1 Player 1
            div(style='background-color:gray; height:500px;width:250px; float:left; margin-left: 65px;')
                h1 chat area
            div(style='background-color:gray; height:500px;width:350px; float:right; margin-right: 100px;')
                div
                    h1 Player 2
            div(style='background-color:white;clear:both')
                center
                    h1 scores will go here
