extends chat-layout

block content
    div(style='width:100%')
        div(style='background-color:white; width:100%')
            center
                h1 Tetris
        div(style= 'height:500px;width:375px;float:left; margin-left: 200px; ')
            div(style= 'height:250px;width:375px; border: 2px solid black;')
                #wrapper
                    #chatbox
                    form(action='')
                        input#m(name='m', type='text', size='25')
                        input#submitmsg(name='submitmsg', type='submit', value='Send')
                form.form-inline#initial-form
                    .form-group
                        label(for='who-are-you') Who are you?
                        input#who-are-you.form-control(type='text', placeholder='Anonymous')
                    button.btn.btn-primary(type='submit') Start Chatting

            div(style= ' background-image: url(/stylesheets/images/nextBlockBackground.jpg); height:250px;width:375px; border: 2px solid black;')
                h1 next block

        div(style='background-image: url(/stylesheets/images/space.jpg); height:500px;width:375px; float:right; margin-right: 200px; border: 2px solid black;')
                h2 player
                #tetris
                    canvas#canvas1.canvas
                    #menu
                        p#start
                            a(href='javascript:play();') Press Space to Play.
                        p
                            canvas#upcoming
                        p
                            | score
                            span#score 00000
                        p
                            | rows
                            span#rows 0
        div(style='background-color:white;clear:both')
        script(src='/js/testGameplay.js')