extends chat-layout

block content
    script(src='/js/timer.js')
    div(style='width:100%')
        div(style='width:100%')
            div
                ul.center2.navBarBackGround
                    li
                        a.center.textOutline(href='lobbyRoom') LOBBIES
                    li
                        a.center.textOutline(href='create_game') CREATE GAME
                    li
                        a.center.textOutline(href='leaders') LEADERBOARD
                    li
        div(style=' width:100%')
            center
                h3
                    p#start Waiting for players to join the game...
                    p#playing
                    p#whoIsPlaying
                p(style='text-align:right; font-size: large;')
                    span#player1
                    span#score 00000
                    p(style='text-align:right; font-size: large;')
                        span#player2
                        span#score2 00000
                        p.timerFont.textOutline
                            font#timer_id_font(size='5', color='gray')
                                span#time 01:00

        div(style= 'height:500px;width:375px;float:left; margin-left: 150px; ')

            div(style= ' background-color:white; height:250px;width:375px; border: 2px solid black;box-shadow: 8px 8px 8px #999; border: 2px solid #333; ')
                div
                    form#name-form
                        .form-group
                            br
                            br
                            br
                            br
                            br
                            label(for='name') Enter name for chat:
                            br
                            br
                            input#name.form-control(type='text', placeholder='Name')
                            button.btn.btn-primary(type='submit') Enter chat
                #chatbox
                    p(style='text-align: center; font-size: large;') Welcome to chat!
                    br
                div
                form#formid(action='')
                    input#m(name='m', type='text', size='52')
                    input#submitmsg(name='submitmsg', type='submit', value='Send')
            div(style= ' background-image: url(/stylesheets/images/image3.png); height:250px;width:375px; border: 2px solid black; box-shadow: 8px 8px 8px #999; border: 2px solid #333;')
                h1.textOutline next block
                    p
                        canvas#upcoming

        div
            canvas#canvas1.canvas

                p#start1
                    a(href='javascript:play();')
                p
                    span#rows 0
        div(style='background-color:white;clear:both')
