extends chat-layout

block content
    div(style='width:100%')
        div(style='background-color:white; width:100%')
            center
                h1 Tetris
        div(style= 'height:500px;width:375px;float:left; margin-left: 200px; ')
            div(style= 'height:250px;width:375px; border: 2px solid black;')
                    div
                        form#name-form
                            .form-group
                                br
                                br
                                br
                                br
                                br
                                label(for='name') Enter name for chat:
                                br
                                br
                                input#name.form-control(type='text', placeholder='Name')
                                button.btn.btn-primary(type='submit') Enter chat
                    #chatbox
                        | Welcome to chat!
                    div
                    form#formid(action='')
                            input#m(name='m', type='text', size='53')
                            input#submitmsg(name='submitmsg', type='submit', value='Send')
            div(style= ' background-image: url(/stylesheets/images/nextBlockBackground.jpg); height:250px;width:375px; border: 2px solid black;')
                h1 next block

        div(style='background-image: url(/stylesheets/images/space.jpg); height:500px;width:375px; float:right; margin-right: 200px; border: 2px solid black;')
                h2 player
                #tetris
                    canvas#canvas1.canvas
                    #menu
                        p#start
                            a(href='javascript:play();') Press Space to Play.
                        p
                            canvas#upcoming
                        p
                            | score
                            span#score 00000
                        p
                            | rows
                            span#rows 0
        div(style='background-color:white;clear:both')
