extends chat-layout

block content
        div(style='width:100%')
            div(style='background-color:white; width:100%')
                h1 scores will go here
                center
                    h1: GameName
            div(style='background-image: url(/stylesheets/images/space.jpg); height:500px;width:350px;float:left; margin-left: 100px;')
                div
                    h2: Player1
            div(style='height:500px;width:250px; float:left; margin-left: 65px;')
                form.form-inline#initial-form
                    .form-group
                        label(for='who-are-you') Who are you?
                        input#who-are-you.form-control(type='text', placeholder='Anonymous')
                    button.btn.btn-primary(type='submit') Start Chatting
                #wrapper
                    #chatbox
                    form(action='')
                        input#m(name='m', type='text', size='25')
                        input#submitmsg(name='submitmsg', type='submit', value='Send')
            div(style='background-image: url(/stylesheets/images/space.jpg); height:500px;width:350px; float:right; margin-right: 100px;')
                div
                    h2 Player 2
            div(style='background-color:white;clear:both')
