extends layout

block content
    h1= title
    p Welcome to our test

    // Wrapper
    #wrapper

        // USER LIST
        h2 Leader Board Example
        #userList
            table
                thead
                    th Position
                    th Player
                    th Email
                    th Score
                tbody
        // /USER LIST

    // /WRAPPER
