extends lobbyRoom-layout

block content
    body
        form(method='GET' action='https://csc667-team1-tetris.herokuapp.com/logout')
            p.login.button
                input(type='submit', value='Logout')


        .container
            header
                h1 LOBBY ROOMS
                    br
                    a(href='create_game', style='font-size: 25px; position: relative') Click to go back to create game.

            section
                #wrapper
                    #login.animate
                        #gamesList
                            table
                                thead
                                    th Player
                                    th Game
                                    th Total Score
                                    th Available
                                    tbody