extends lobbyRoom-layout

block content
        form(method='GET' action='https://csc667-team1-tetris.herokuapp.com/logout')
            p.login.button
                input(type='submit', value='Logout')
        .container
            header
                h1 LOBBY ROOM
            section
                #wrapper
                    #login.animate
                        #gamesList
                            table
                                thead
                                    th Player
                                    th Game
                                    th Total Score
                                    th Available
                                    tbody


