doctype html
html
    head
        title Multiplayer Tetris
        link(rel='stylesheet', type='text/css', href='/stylesheets/testgameplay.css')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')

    body
        block content
