doctype html
html
    head
        title Multiplayer Tetris
        link(rel='stylesheet', type='text/css', href='/stylesheets/testgameplay.css')
    body
        #tetris
            canvas#canvas1.canvas
            #menu
                p#start
                    a(href='javascript:play();') Press Space to Play.
                p
                    canvas#upcoming
                p
                    | score
                    span#score 00000
                p
                    | rows
                    span#rows 0
            canvas#canvas2.canvas
        script(src='/js/testGameplay.js')

